@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

/* .assistant-<uniquifier> {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  font-family: "Assistant", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #232736;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #232736;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #535bf2;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: calc(1440px + 30px);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
  padding: 30px 0 0;
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: #fff;

  .header-top,
  .header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .header-bottom {
    padding: 18px 0 !important;
  }

  .header-top-left {
    ul {
      li {
        padding: 0 20px;
        position: relative;

        &:first-child {
          padding-left: 0;
        }

        &:first-child::after {
          content: "";
          width: 1px;
          height: 70%;
          background-color: #ededed;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.header-top-left,
.header-top-right,
.header-bottom-left {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
  }
}

.header-top-right {
  button {
    background: #232736;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin: 0 10px;

      a {
        svg {
          font-size: 25px;
        }
      }
    }
  }
}

.icons {
  img {
    max-width: 25px;
  }
}

.header-bottom-left {
  ul {
    li {
      margin: 0 15px;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-size: 1rem;
        position: relative;
      }

      a.active {
        font-weight: 700;

        &::after {
          content: "";
          background-color: #e29e4f;
          width: 100%;
          height: 4px;
          position: absolute;
          bottom: -29px;
          left: 0;
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
}

.header-bottom-right {
  max-width: 300px;
  width: 100%;
}

.search-input-wrraper {
  border: 1px solid #a9a9a9;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1px;

  input {
    border: none;
    padding: 12px;
    width: 100%;
    background-color: #fff;

    &:focus {
      outline: none;
    }
  }

  svg {
    font-size: 2.4rem;
    cursor: pointer;
    padding-right: 15px;
  }
}

// Home CSS

.home {
  display: flex;
  gap: 25px;
}

.side-nav {
  max-width: 300px;
  width: 100%;
  border-right: 1px solid #dacdcd;
  padding-right: 15px;
}

.main-content {
  max-width: 80%;
  width: 100%;
  margin-bottom: 5vh;
}

.main-add {
  margin: 0vh 0 4vh;

  img {
    max-width: 100%;
    width: 100%;
  }
}

.sort-lebal {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5vh;

  select {
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 7px;
    background-color: #fff;
    color: var(--color);

    &:focus {
      outline: none;
    }
  }
}

.watches-sec {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card {
  border: 1px solid #dacdcd;
  border-radius: 10px;
  padding: 15px;
  max-width: calc(33.3333% - 24px);
  text-align: center;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  &.add-card {
    padding: 0px;
  }
  .add {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pre-owned {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-bottom: 5vh;

    p {
      background-color: #fbf3e9;
      color: #e8b375;
      border-radius: 5px;
      padding: 3px 10px;
      font-size: 14px;
    }

    img {
      max-width: 20px;
      margin: 0 10px;
    }
  }
}

.ho-active {
  display: none;
}
.watch-image {
  &:hover {
    .ho-active {
      display: block;
    }
  }
}

.watch-image {
  max-width: 360px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    width: 100%;
  }

  &:hover {
    img {
      width: 100%;

      &:first-child {
        display: none;
      }
    }
  }
}

.watch-content {
  text-align: center;
  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;

    &:first-child {
      color: #e29e4f;
    }
  }

  h2 {
    sup {
      color: #e29e4f;
      font-size: 16px;
    }
  }

  h3 {
    text-decoration: line-through;
    color: #9b9b9b;
  }
}

.hover-effect {
  z-index: 99;
  margin-bottom: 110px;
  height: 100%;

  .onHoverContent {
    display: none;
  }
  &:hover {
    .watch-content {
      display: none;
    }

    .onHoverContent {
      display: block;
    }
  }
}

.emi-abv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    padding: 20px 0;
    font-weight: 500;
    color: #757575;
  }

  .card-bottom-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dacdcd;
    padding: 15px 0px;
    margin: 0 25px;

    span {
      display: flex;
      align-items: center;
      font-size: 20px;
    }

    img,
    svg {
      max-width: 25px;
      display: inline-block;
      margin-right: 5px;
    }

    svg {
      font-size: 20px;

      &:hover {
        fill: red;
      }
    }
  }
}

.menu-tracker {
  display: flex;
  margin: 25px 0;

  ul {
    display: flex;

    li {
      padding: 0 20px;
      position: relative;

      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        &::after {
          content: ">";
          position: absolute;
          right: -3px;
          top: 0;
        }
      }

      &:last-child {
        pointer-events: none;
      }
    }

    a {
      font-size: 14px;
    }
  }
}

// Side menu

.watches-logo {
  display: flex;
  align-items: center;
  margin: 30px 0;

  img {
    margin-right: 30px;
  }
}

.filter-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 8px;
      font-size: 20px;
    }
  }

  a {
    text-decoration: underline;
    font-weight: 700;
  }
}

.case-size {
  .case-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 16px;
    }

    button {
      border: none;
      background: transparent;
      font-size: 40px;
      cursor: pointer;
      color: var(--color);
    }
  }
}

.case-size-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;

  .check-wrraper {
    display: flex;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    position: relative;
    flex-grow: 1;

    input {
      margin-right: 3px;
    }
  }

  .check-wrraper.dashed {
    border: 1px dashed #dacdcd;
    padding: 2px 8px;
    min-width: 90px;
    max-width: 136px;
  }
}

.case-size-body.column {
  flex-direction: column;
}

label {
  position: relative;
  cursor: pointer;
}

label:before {
  content: "";
  appearance: none;
  background-color: transparent;
  border: 2px solid #dacdcd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
  position: absolute;
  left: -18px;
  top: 3px;
  background: #fff;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -13px;
  width: 3px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + label::before {
  background-color: #232736;
}

.tooltip {
  position: relative;

  .tool-tip-cont {
    position: absolute;
    white-space: nowrap;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: calc(-100% - 20px);
    display: none;

    p {
      background-color: #fff;
    }
  }

  &:hover {
    .tool-tip-cont {
      display: block;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    cursor: pointer;
  }
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 15px;
  display: none;
}

.hamburger .toggle-buton {
  width: 100%;
  height: 3px;
  background-color: #e29e4f;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 5px;
}

.hamburger .toggle-buton:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e29e4f;
  position: absolute;
  top: -10px;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
}

.hamburger .toggle-buton:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e29e4f;
  position: absolute;
  bottom: -10px;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
}

.hamburger.active .toggle-buton {
  background-color: transparent;
}

.hamburger.active .toggle-buton:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 13px;
}

.hamburger.active .toggle-buton:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

// * {
//   outline: 1px solid #f00 !important;
// }

@media (max-width: 1200px) {
  .side-nav {
    max-width: 20%;
  }
  .sort-lebal {
    margin-bottom: 2vh;
  }
  .card .pre-owned img {
    margin: 0 5px;
  }
  .card .pre-owned p {
    font-size: 12px;
  }
  .menu-tracker {
    margin: 15px 0;
  }
  .watches-sec ul {
    gap: 20px;
  }
  .watches-logo {
    img {
      margin-right: 10px;
    }
    span {
      white-space: nowrap;
    }
  }

  .main-add {
    margin: 0vh 0 2vh;
  }
}

@media (max-width: 992px) {
  header .header-top-left ul li a {
    font-size: 1.2rem;
  }
  .header-bottom-left ul li {
    margin: 0 10px;
  }
  .header-bottom-right {
    max-width: 200px;
  }
  header .header-top {
    padding: 20px 0 5px;
  }
  .menu-tracker {
    margin: 10px 0;
  }
  .watches-logo {
    flex-direction: column;
    img {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .sort-lebal select {
    font-size: 1rem;
  }
  .card {
    max-width: calc(50% - 10px);
  }

  .card .pre-owned img {
    margin: 0 2px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .header-top,
  .search-input-wrraper {
    display: none !important;
  }

  .header-bottom-left nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #232736;
    transition: 0.5s;
  }

  .header-bottom-left nav.active {
    left: 0;
  }

  .header-bottom-left ul li a {
    color: #fff;
    width: 90%;
    margin: 6px auto;
    box-shadow: 0px 0px 5px -1px rgba(255, 255, 255, 0.5);
    padding: 6px 0;
  }

  .header-bottom-right {
    display: flex;
    justify-content: flex-end;
  }

  .header-bottom-left ul li:first-child {
    margin: 0;
  }

  .header-bottom-left ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .header-bottom-left ul li a.active::after {
    display: none;
  }

  .header-bottom-left ul li {
    width: 100%;
    text-align: center;
  }

  .filter-sec {
    font-size: 12px;
  }
  .case-size .case-head h2 {
    font-size: 14px;
  }

  .card {
    max-width: calc(60% - 70px);
  }
  .card .pre-owned img {
    max-width: 15px;
  }
  .card .pre-owned p {
    font-size: 10px;
  }
  .watch-content {
    p {
      font-size: 15px;
    }
    h2,
    h3 {
      font-size: 18px;
    }
  }

  .hover-effect {
    margin-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .watches-logo img {
    max-width: 80px;
  }
  .filter-sec span svg {
    font-size: 15px;
  }
  .filter-sec {
    flex-direction: column;
  }
  .filter-sec span {
    margin-bottom: 10px;
  }
  .case-size .case-head h2 {
    font-size: 10px;
  }

  .case-size-body .check-wrraper.dashed {
    min-width: auto;
  }
  .case-size-body .check-wrraper {
    font-size: 10px;
  }
  label:before {
    padding: 5px;
    left: -17px;
    top: 1px;
  }
  .case-size .case-head button {
    font-size: 25px;
  }
  .sort-lebal,
  .sort-lebal select {
    font-size: 14px;
  }
  .watches-sec ul,
  .home {
    gap: 5px;
  }
  .card {
    max-width: calc(49%);
    padding: 5px;
  }
  .card .pre-owned {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    p {
      margin-bottom: 5px;
    }
  }

  .card .pre-owned img {
    margin: 0 8px;
  }
  .watch-content p {
    font-size: 11px;
  }
  .watch-content h2,
  .watch-content h3,
  .watch-content h2 sup,
  .emi-abv .card-bottom-sec span {
    font-size: 14px;
  }
  .emi-abv .card-bottom-sec img,
  .emi-abv .card-bottom-sec svg {
    font-size: 14px;
  }
  .emi-abv .card-bottom-sec img {
    max-width: 14px;
  }

  .emi-abv .card-bottom-sec {
    padding: 5px 0px;
    margin: 0 10px;
  }
  .emi-abv p {
    font-size: 10px;
  }
  .onHoverContent {
    h2,
    h3 {
      font-size: 14px;
    }
  }

  .watches-logo span {
    font-size: 12px;
  }
  .case-size {
    margin-left: -10px;
  }
  input[type="checkbox"]:checked + label:after {
    top: 2px;
    left: -12px;
  }
  .menu-tracker ul a {
    font-size: 10px;
  }
  .menu-tracker ul li:not(:last-child)::after {
    top: 0px;
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  .card {
    max-width: 48%;
  }
}
